@model MVC_Code_Challenge.Models.Customer
@{ ViewBag.Title = "CustomerDetails"; }

<h2>CustomerOrderWithOrder_ID == 10248</h2>
@if (Model != null)
{
<p>Customer ID: @Model.CustomerID</p>
                <p>Company Name: @Model.CompanyName</p>
                                <p>Contact Name: @Model.ContactName</p>
                                                <p>Country: @Model.Country</p> }
                                            else
                                            {
                                <p>No ID Found</p>}